.couple {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.children {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nodeWrapper {
  text-align: center;
  margin: 20px;
}
